@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;500;600&display=swap');

html {
  font-family:
    'S-CoreDream-3Light',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scroll::-webkit-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  display: none;
}

body {
  font-size: 16px;
  /* font-weight: 400; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.32px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  background-color: #eee;
}

/* S-CoreDream-3Light */
.scoreheader {
  font-family: 'S-CoreDream-3Light';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}
.scoretitle1 {
  font-family: 'S-CoreDream-3Light';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.315px;
}
.scoremedium20 {
  font-family: 'S-CoreDream-3Light';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
  letter-spacing: 0.4px;
}
.scoremedium16 {
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.32px;
}
.scoretitle2 {
  font-family: 'S-CoreDream-3Light';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.27px;
}
.scorebody1 {
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
.scorebody2 {
  font-family: 'S-CoreDream-3Light';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.21px;
}
.scorecaption {
  font-family: 'S-CoreDream-3Light';
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.21px;
}
/* Noto Sans KR */
.notosansheader {
  font-family: 'Noto Sans KR';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
}
.notosanstitle1 {
  font-family: 'Noto Sans KR';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.315px;
}
.notosanstitle2 {
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.27px;
}
.notosansbody1 {
  font-family: 'Noto Sans KR';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}
.notosansbody2 {
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.21px;
}
.notosanscaption {
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.21px;
}
