@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family:
    'S-CoreDream-3Light',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  color: #232323;
  line-height: 1.36;
  letter-spacing: -0.32px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  background-color: #eee;
  height: 100vh;
  overflow-y: hidden;

  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

input[type='radio'] {
  vertical-align: middle;
  appearance: none;
  border: 1px solid #cecece;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

input[type='radio']:checked {
  border: 0.4em solid #f57f17;
}

input[type='radio']:focus-visible {
  outline: max(2px, 0.1em) dotted #f57f17;
  outline-offset: max(2px, 0.1em);
}

input[type='radio']:disabled {
  border: 0.4em solid #cecece;
  cursor: not-allowed;
}

input[type='radio']:disabled + span {
  cursor: not-allowed;
}
